{
	"plugins": [
		"prettier-plugin-multiline-arrays",
		"prettier-plugin-brace-style"
	],
	"braceStyle": "allman",
	"useTabs": true,
	"tabWidth": 4,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"arrowParens": "always",
	"printWidth": 180,
	"multilineArraysWrapThreshold": 0,
	"multilineArraysLinePattern": "1"
}
