{
	"plugins": ["prettier-plugin-brace-style"],
	"braceStyle": "allman",
	"useTabs": true,
	"tabWidth": 4,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"arrowParens": "always",
	"printWidth": 120,
	"importOrder": [
		"<BUILTIN_MODULES>",
		"^@/components/(?!ui(?:/|$)).*$",
		"^@/components/ui(?:/.*)?$",
		"^@/db(?:/.*)?$",
		"^@/domain(?:/.*)?$",
		"^@/hooks(?:/.*)?$",
		"^@/lib(?:/.*)?$",
		"<THIRD_PARTY_MODULES>",
		"^@/(.*)$",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderSortByLength": "asc",
	"importOrderSideEffects": false,
	"packageSortOrder": ["name", "version", "description", "main"]
}
