html,
body {
	background-color: var(--background);
	color: var(--foreground);
	margin: 0;
}

body.root-layout {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.header {
	padding: 1rem;
	background: #eee;
}

.footer {
	padding: 1rem;
	background: #eee;
}

.main {
	flex: 1;
	display: flex;
	min-height: 0;
}
