html,
body {
	height: 100%;
	margin: 0;
}

body.root-layout {
	display: flex;
	flex-direction: column;
}

.header {
	padding: 1rem;
	background: #eee;
}

.footer {
	padding: 1rem;
	background: #eee;
}

.main {
	flex: 1;
	display: flex;
}
