.search-bar {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 0.5rem;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
}

.search-bar input {
	flex-grow: 1;
	border: none;
	padding: 0.5rem;
	font-size: 0.95rem;
	background: transparent;
	outline: none;
	color: #333;
	border-radius: 4px;
}

.search-bar input::placeholder {
	color: #aaa;
}
