.navbar ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	padding: 0;
	margin: 0;
	gap: 16px;
	background-color: var(--background);
}

.navbar ul a {
	color: var(--text-primary);
	text-decoration: none;
	border-radius: var(--radius-sm);
	background-color: var(--surface-1);
}
